@media only screen and (max-width: 992px) {
    .com {
        flex-direction: column;
        align-items: center;
    }

    .com a {
        padding: 10px;
    }

    .content {
        margin-top: 50px;
    }

    .contain {
        flex-direction: column;
    }

    #about {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .nav-bar {
        flex-direction: column;
    }

    .nav-bar p {
        padding: 20px 10px;
    }

    .project {
        margin: 50px 0;
    }

    .contain {
        gap: 0;
        margin: 50px 0;
    }

    .about1 {
        margin: 50px 0;
    }

    .about-me {
        gap: 50px;
    }

    .skill {
        margin: 50px 0;
    }

    .footer {
        padding: 50px 20px;
    }

    .footer-social {
        gap: 20px;
    }

    .footer-bottom {
        font-size: 14px;
    }
}
@media only screen and (max-width: 705px) {
    .nav-bar {
      flex-direction: column;
      height: auto;
    }
  
    .nav-bar p {
      padding: 15px;
    }
  
    #about {
      flex-direction: column;
      text-align: center;
    }
  
    .content {
      margin-top: 20px;
    }
  
    .skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .skill {
      width: 45%;
    }
  
    .project {
      width: 45%;
    }
  
    .contain {
      flex-wrap: wrap;
      gap: 20px;
    }
  
    .project-img {
      width: 100%;
      
    }
  
    .footer {
      flex-direction: column;
      align-items: center;
      padding: 20px;
    }
  
    .footer-social {
      flex-wrap: wrap;
      gap: 10px;
    }
    .card {
        flex-basis: calc(50% - 20px);
      }
  }
  @media screen and (max-width: 683px) {
    .card {
      flex-basis: calc(50% - 20px);
    }
    .project h1{
        display: flex;
        align-items: center;
        justify-content: center;
    }
  }